.body {
    color: grey;
    }
    .container {
        display:flex;
        /*border: solid, white;*/
        
        }
    .info {
        display: inline-block;
        border: solid black;
        margin: 3px 6px 0 3px;
        color: white;
        }
        
    
    .button {	
        display: inline-block;
        border: solid none;
         border-radius: 12px;
        background-color: orange;
        margin: auto 120px;
        padding: 12px 10px;
        color: white;
        font-size: 24px;
        transition-duration: 0.4s;
        cursor: pointer;
        
    }		
    .button:hover {
    background-color: white;
    color: orange;
        
    }
    .main {
        display: inline-block;
        background: grey;
        }
        @media screen and (max-width: 1000px) {
            main {
                display: inline-block;
                width: 70%
                    
    }
}
    
